:root {
  --transition: linear 0.3s;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f0ead2;
}

.root {
  position: relative;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px;
}